
<!--Este es el modal para los completado como: Agregar y Editar-->
<!--Estos son los de Producto-->
<div class="card body" style="width: 30rem;">
  <img class="imagen" src="../../../assets/img/alerta.png">
    <div class="logo">
<h2>Esta seguro de que quiere cancelar la factura?</h2>
    </div>

    <div class="card-body centrar">
      <h2 class="card-title"></h2>
      <mat-dialog-actions align="center">
        <button mat-button (click)="CerrarDialog()" class="btn btn-primary Button">Regresar</button>
        <button mat-button (click)="ConfirmarDialog()" class="btn btn-danger Button">Cancelar Factura</button>
      </mat-dialog-actions>
    </div>
  </div>
  
  
  
  