<h2 mat-dialog-title class="centertabledata">Factura de Compra</h2>
<mat-dialog-content>
  <div class="body">
    <div>
      <p>Numero de Factura: {{factura_resultbyID[0].NumeroFactura}}</p>
      <p>Fecha: {{factura_resultbyID[0].Fecha}}</p>
      <p>Cliente: {{factura_resultbyID[0].Cliente}}</p>
      <p>Vendedor: {{factura_resultbyID[0].Empleado}}</p>
      </div>
    <div class="wrapper">
      <div class="mat-elevation-z8 listfactura">
        <div class="headertitlebottom">
          </div>
        <table class="table table-striped">
          <thead>
            <tr class="centertabledata">
              <th  scope="col">Productos</th>
              <th  scope="col">Precio Unitario</th>
              <th  scope="col">Cantidad</th>
              <th  scope="col">Total</th>
            </tr>
          </thead>
          <tbody>
            <tr class="centertabledata" *ngFor="let factura of factura_resultbyID">
              <td>{{factura.Producto}}</td>
              <td>${{factura.Precio}}</td>
              <td>{{factura.Cantidad}}</td>
              <td>C${{factura.Total.toLocaleString('es-ES', { minimumFractionDigits: 2 }) }}</td>
            </tr>
             <tr class="centertabledata">
              <td></td>
              <td></td>
              <td>Total:</td>
              <td>C${{TotalSum.toLocaleString('es-ES', { minimumFractionDigits: 2 }) }}</td>
             </tr>
          </tbody>
        </table>
      </div>
      
    </div>
  </div>
</mat-dialog-content>

  