<div class="wrapper">
  <div class="body">
  <div class="bodyproduct">
  <div class="addproduct">
    <div class="custompositionbtnclose">
      <button class="btn btn-danger" (click)="CloseAddProduct()">X</button>
    </div>
    <div class="titulo">
      <h2><b>Editar Producto</b></h2>
    </div>
    <form [formGroup]="form" (ngSubmit)="Editroduct()">
      <div class="row title">
        <div class="col">
          <label for="exampleInputEmail1">Nombre</label>
          <input formControlName="Nombre" type="text" class="form-control custom-border">
        </div>
      </div>
      <div class="row title">
        <div class="col">
          <label for="exampleInputEmail1">Unidades</label>
          <input formControlName="Unidades" type="text" class="form-control custom-border">
        </div>
        <div class="col">
          <label for="exampleInputEmail1">Precio</label>
          <input formControlName="Precio" type="number"  min="1" pattern="^[0-9]+" class="form-control custom-border">
        </div>
      </div>
      <div class="col">
        <label for="exampleInputEmail1">Stock</label>
        <input formControlName="Stock" type="number"  min="1" pattern="^[0-9]+" class="form-control custom-border">
      </div>
        <div class="row title">
          <div class="col">
            <label for="exampleInputEmail1">Estado</label>
            <select formControlName="Estado" class="form-select custom-border" aria-label="Default select example">
              <option value="Activo">Activo</option>
              <option value="Agotado">Agotado</option>
            </select>
          </div>
          <div class="col">
            <label for="Categoria">Categoría:</label>
            <select class="form-select custom-border" formControlName="Categoria">
              <option *ngFor="let categoria of category_result" [ngValue]="categoria">{{ categoria.Nombre }}</option>
            </select>
          </div>
        
          <div class="col">
            <label for="Proveedor">Proveedor:</label>
            <select class="form-select custom-border" formControlName="Proveedor">
              <option *ngFor="let proveedor of proveedor_result"  [ngValue]="proveedor">{{proveedor.Nombre + ' ' + proveedor.Apellido}}</option>
            </select>
          </div>      
        </div>
        <div class="col">
          <label for="exampleInputEmail1">Fecha</label>
          <input formControlName="Fecha" type="date"  class="form-control custom-border">
        </div>

      <div class="d-grid gap-2 col-6 mx-auto custom-spaceM">
        <button type="submit"  class="btn btn-primary">Editar</button>
      </div>
    </form>
    
  </div>
  <div>
  </div>
  </div>

  </div>
</div>
