<h2 mat-dialog-title class="titulo">Agregar Producto</h2>
<mat-dialog-content class="mat-typography">
  <div class="body">
  <div class="factura">
    <div class="wrapper">
      <div class="cliente">
        <div class="tablasfactura">
          <div class="mat-elevation-z8 producto">
            <div class="form-group searchbar">
              <div>
                <input type="text" class="form-control input-reducido" id="formGroupExampleInput" placeholder="Buscar" [(ngModel)]="NOMBRE"> 
              </div>
            </div>
            <table class="table table-striped contenidotabla">
              <thead>
                <tr>
                  <th scope="col">Codigo</th>
                  <th scope="col">Nombre</th>
                  <th scope="col">Cantidad</th>
                  <th scope="col">Precio Unitario</th>
                  <th scope="col">Acciones</th>
                </tr>
              </thead>
              <tbody>
              <!-- Dentro del <tbody> -->
<tr *ngFor="let producto of product_result; let i = index">
  <th scope="row">{{producto.IDPRODUCTO}}</th>
  <td>{{producto.NOMBRE}}</td>
  <td>
    <input type="number" class="form-control input-cantidad" id="Cantidad_{{i}}" [(ngModel)]="cantidades[i]" onkeypress="return event.charCode >= 48" min="1">
  </td>
  <td>C${{producto.PRECIO}}</td>
  <td>
    <abbr title="Agregar">
      <button  [disabled]="cantidades[i] === undefined || cantidades[i] === null || cantidades[i] === 0" type="button" class="btn btn-success clean-buttom" (click)="agregarProducto(producto, cantidades[i])">
        <img src="../../../assets/img/agregar.png">
      </button>
    </abbr>
  </td>
</tr>

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</mat-dialog-content>
<mat-dialog-actions align="center">
  <button mat-button mat-dialog-close class="btn btn-danger">Volver</button>
</mat-dialog-actions>

