.body{

    height: 100%;
    background-color: white;
    }
    
    .wrapper{
     width: 97%;
     margin: 0px 20px;
     display: flex;
     justify-content: center;
     flex-direction: column;
     align-items: center;
    }
    
 
  
    
    .mat-elevation-z8{
      background-color: #F2F3F4;
    }

    .listcategory{
        width: 60%;
    }

    .buttonadd{
        margin-left: 40%;
    }

    .centertabledata{
      text-align: center;
    }

    .clean-buttom{
      border: none;
      outline: none; 
      padding: 3px; 
      margin-right: 10px;
    }