.logo{
    width: 50px;
    margin: 0px 30px 0px 70px;
    cursor: pointer;
    transition: all 0.5%;
  }
  
  .logo:hover{
    transform: scale(1.1);
  }

  .nav-bar-background-color{
    background-color: #262626;
    color: #E2E8CE;
  }

  .nav-link{
    color: #E2E8CE
  }

