.body {
  height: 100%;
  background-color: #D0D0D0 ;
}

.factura {
  display: flex;
  justify-content: center;
}

.wrapper {
  flex-direction: column; /* Establece la dirección del flex a columna */
  margin-top: 10px; 
  border: 2px solid #275DAD;
  background-color: white ;
  width: 80%;
}

.cliente {
  margin-top: 10px;
  width: 100%;
  background-color: white;
}

.producto {
  width: 100%;
  background-color: white;
  margin: 0 10px;
  max-height: auto; /* Altura máxima de la tabla */
}

.form-cliente {
display: flex;
flex-direction: row;
justify-content: space-between;
margin-left: 40px;
margin-right: 20px;
}

.select-empleado{
  display: flex;
  justify-content: end;
}

.input-reducido {
  width: 300px; /* Ancho reducido */
  font-size: 16px; /* Tamaño de fuente reducido */
}

.titulo {
  width: 100%;
  text-align: center;
  color: white;
  margin-top: 0;
  background-color: #275DAD;
}

.clean-buttom {
  outline: none;
  padding: 5%;
}

.contenidotabla {
  text-align: center;
}

.input-cantidad {
  width: 100px; /* Ancho reducido */
  font-size: 14px;
}

.tablasfactura{
  display: flex;
  flex-direction: row;
}

.botonagregar{
  margin: 10px 4% 10px 4%;
  display: flex;
  flex-direction: row;
}

.btncancelar{
  display: flex;
  justify-content: center;
}

.warning{
  color: Red;
  margin: 5px 0px;
}

.input-cantidad {
  width: 100px; /* Ancho reducido */
  font-size: 14px;
  padding: .375rem .75rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.input-cantidad:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 .2rem rgba(0,123,255,.25);
}

